:root {
    --primary-color: #D0D2D4;
    --secondary-color: #37393B;
    --tertiary-color: #E93E3C;
    --text-color: white;
}

.content-about {
    margin: 0px 200px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: var(--secondary-color);
    padding: 0px 100px 10px;
    color: var(--text-color)
}

.content-about p {
    font-size: large;
}

.content-about h1 {
    text-align: left;
    margin-top: 0;
}

.content-about h1 {
    color: var(--tertiary-color)
}

#content1 {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 0;
}

.sub-content {
    border: 2px solid var(--primary-color);
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 0;
}

.content-holder-a {
    margin-left: 20px;
    margin-right: 20px;
}

#contact-box {
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#contact-box h1 {
    text-align: center;
    color: var(--text-color);
}

@media (min-width: 768px) {
    .flex-container-about {
        display: flex;
    }

    #content1 {
        flex: 3;
    }

    #content2 {
        flex: 1;
    }
}