:root {
    --primary-color: #D0D2D4;
    --secondary-color: #37393B;
    --tertiary-color: #E93E3C;
    --text-color: white;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--secondary-color);
    text-align: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 200px;
    margin-right: 200px;
    color: var(--text-color)
}