:root {
    --primary-color: #D0D2D4;
    --secondary-color: #37393B;
    --tertiary-color: #E93E3C;
    --text-color: white;
}

#main-nav ul {
    border: 3px solid var(--primary-color)
}

#main-nav li {
    list-style-type:none;
    text-align: center;
    padding:20px;
}

#main-nav li a {
    text-decoration: none;
    color: var(--text-color)
}

@media (min-width: 900px) {
    #main-nav ul {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }
}